.ExperienceItem {
  margin: 32px;
  padding: 32px;
  background: white;
  border-radius: 32px;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;

  .DateContainer {
    text-align: center;

    .Date {
      margin-top: 12px;
      font-weight: 700;
    }
  }

  .CompanyLogo {
    height: 62px;
    margin-top: 12px;
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    &:hover {
      filter: none;
      -webkit-filter: grayscale(0%);
    }
  }

  .Title {
    text-align: center;
  }

  .LineItem {
    line-height: 30px;
  }
}
