.DateContainer {
  text-align: center;

  .Date {
    margin-top: 12px;
    font-weight: 700;
  }
}

.CompanyLogo {
  height: 62px;
  margin-top: 12px;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  &:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
  }
}

.Title {
  text-align: center;
}

.LineItem {
  line-height: 30px;
}
