@import "../../shared/styles/variables";

.ProfileDescription {
  text-align: justify;
  font-size: 18px;
}

.Download {
  padding: 50px 0;
  text-align: center;

  a {
    text-decoration: none;
  }
}

.SocialIconsContainer {
  display: flex;
  justify-content: center;
}
