@import "../../shared/styles/variables";

.HeaderSection {
  position: relative;

  .ProfileImage {
    width: calc(100% + 64px);
    vertical-align: middle;
    margin: -32px;
  }

  .BasicInfo {
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .ProfileHeadlineData {
    font-size: 24px;
    width: 420px;
    margin-right: -28px;

    li {
      margin-bottom: 12px;
    }
  }

  .ProfileName {
    font-size: 4em;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .ProfileDescription {
    text-align: justify;
    font-size: 18px;
  }
}
